header {
    font-size: large;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: floralwhite;
    background-color: darkblue;
    text-align: center;
    padding: 3%;